.DS_Store

.ipynb_checkpoints
.idea
interim
*.ipynb
*/model/
*/testing/*
*/training/*
testing_remapped.csv
training_remapped.csv
*/models
*.h5
*.json
*.pkl
pyserver/data
*/experimental
*/venv
venv
text_processing
scoreboard/cache
scoreboard/out
proc_out
out
__pycache__
*/__pycache__
*.pyc
redis.go
tensor.go
