.DS_Store

.ipynb_checkpoints
.idea
interim
*.ipynb
*/model/
*/testing/*
*/training/*
testing_remapped.csv
training_remapped.csv
*/models
*.h5
*.json
*.pkl
pyserver/data
*/experimental
*/venv
venv

redis.go
tensor.go
